/* .skill-name{
  padding: 10px 0px;
  font-size: 20px;
  font-weight:bold;
  text-align: center;
  max-width: 120px;
}

.skill-name-container{
  max-width: 120px;
}

.skill-name-bar{
  margin-top: 10px;
  margin-bottom:20px ;
  font-size: 20px;
  display: flex;
  width: 920px;
  height: 29px;
  background-color: #e6e6e6;
  font-weight: 600;
}

.my-skill-container{
  box-sizing: border-box;
  display: flex;
  padding: 0px 40px;
  flex-wrap: wrap;
}

.skill-name-bar-container {
  padding-left: 24.3px;
} */

.chart-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.chart-row {
  display: flex;
  align-items: center;
}
.about-name{
  background-color: white;
  border: none;
  font-size: 18px;
  text-align: center;
  min-width: 120px;
  font-weight: 500;
}

.skill-name-alert {
  font-size: 20px;
  text-align: center;
  min-width: 120px;
  border: none;
  background-color: white;
  font-weight: 500;
}

.skill-name-alert:hover {
  color: grey
}

.chart-name-bar {
  flex-grow: 1;
  height: 29px;
  background-color: #e6e6e6;
  margin-left: 20px;
  border-radius: 5px;
}

.chart-name-bar-filled {
  box-sizing: border-box;
  height: 100%;
  background-color: #646464;
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 0px 15px;
}

@media (max-width: 1024px) {
  .chart-name-bar {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .chart-name-bar-filled {
    font-size: 12px;
    padding: 0px 10px;
  }
}

@media (max-width: 480px) {
  .chart-name-bar-filled {
    font-size: 12px;
    padding: 0px 8px;
  }
}