.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-close-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #646464;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-close-btn:hover {
  background-color: #4b4b4b;
}